.git/
.vscode/
.idea/

# for npm
node_modules/

# codes
test/

# misc
.coveralls.yml
.editorconfig
.gitignore
.travis.yml
.nyc_output/
.tsconfig.json
.eslint.json
.nycrc
.prettierrc
build/
coverage/
demo/
greenkeeper.json
*.tsbuildinfo
*.iml
*.js.map

npm-debug.log

